@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat";
  @apply bg-black text-white;
}

.circle-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.circle-animation {
  font-size: 1.5em;
  text-align: center;
  width: 70%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes reveal {
  from {
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }

  to {
    clip-path: polygon(
      0% calc(0.3em * -3),
      120% calc(0.3em * -3),
      100% calc(100% + (0.3em * 3)),
      -20% calc(100% + (0.3em * 3))
    );
  }
}

.circle-animation:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  background-image: url("/circle-inner-5.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 85%;
  height: 100%;
  transform: translate(-50%, -50%);
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  z-index: 10;

  animation: reveal 1s linear 1s forwards;
}

.circle-text {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
[data-title="true"],
[data-title="bold"] {
  font-weight: bold;
  color: #05cfa6;
}

.full-screen-gradient {
  --rotation: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    calc(var(--rotation) * 1deg),
    #0ad5b3 6.99%,
    #8592fa 97.18%
  );
}

.divider-gradient {
  background-image: linear-gradient(
    90deg,
    #05d6ad -0.14%,
    #46b9eb 50.96%,
    #888ffa 99.98%
  );
}

.button-gradient {
  border-radius: 200px;
}

.question-progress-indicator {
  --offset: -15%;
  --progress: 0;
  left: calc(var(--progress) * 100%);
  translate: calc((var(--progress) * -100%) + var(--offset));
}

.question-progress-indicator-tail {
  --offset-from: 2%;
  --offset-to: -1%;
  --progress: 0;
  width: calc(
    (100% * var(--progress)) +
      (
        var(--offset-from) + (var(--progress) - 0) *
          (var(--offset-to) - var(--offset-from)) / (1 - 0)
      )
  );
  height: 15%;
  border-radius: max(100vw, 100vh);
  background-color: crimson;
  position: absolute;
  top: -28.5%;
  left: 0;
  background-image: linear-gradient(90deg, #0ad5b3 6.99%, #8592fa 97.18%);
}

* {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
